@keyframes inhome {
  from {
    top: -55px;
    opacity: 0;
  }
  to {
    top: 40vh;
    opacity: 1;
  }
}
@keyframes bounce {
  0% {
    margin-top: 0px;
  }
  50% {
    margin-top: 8px;
  }
  100% {
    margin-top: 0px;
  }
}
html {
  scroll-behavior: smooth;
}

body {
  height: 100%;
  width: 100%;
  margin: 0px;
  scroll-behavior: smooth;
}

#project-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 45px;
  margin-top: -40px;
  scroll-behavior: smooth;
  padding: auto;
  overflow: none;
}

#projects {
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  max-width: 550px;
  min-height: 100vh;
}

.project-tile {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 50vh;
  align-items: flex-end;
  justify-content: space-between;
  border: 0px #eeeeee solid;
  margin: 50px 0px 20px 0px;
  background-size: cover;
  background-position: center;
  background-repeat: no repeat;
  border-radius: 0.25em;
  opacity: 0.8;
  padding: 0px;
}

.image-link {
  width: 100%;
}

.project-tile:hover {
  opacity: 1;
}

#project-tile1 {
  background-image: url("files/focus-timer-png.png");
}

#project-tile2 {
  background-image: url("files/markdown-png.png");
}

#project-tile3 {
  background-image: url("files/smartmockups_kash29zy.png");
}

#welcome-section {
  background-image: url("files/night-sky.jpg");
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-attachment: fixed;
}

.home {
  color: #fff;
  font-family: "Manrope", sans serif;
  display: block;
  text-align: center;
  text-decoration: none;
}

#headlines {
  animation: inhome 3s ease-out;
  position: absolute;
}

h1 {
  font-size: 60px;
  margin: 0px;
}

#navbar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  text-align: center;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-bottom: 1px solid #ddd;
  z-index: 100;
}

.nav-link {
  padding: 1em 1em 1em 1em;
  text-transform: uppercase;
  letter-spacing: 0.07em;
  background-color: #fff;
  display: block;
}

a {
  text-decoration: none;
  color: #000;
  font-family: "Manrope", sans serif;
}

.project-title {
  text-transform: uppercase;
  font-size: 12px;
  padding: 1em;
  margin: 0px;
  background-color: white;
  border-top-left-radius: 0.25em;
}

.project-tools {
  text-transform: uppercase;
  font-size: 12px;
  padding: 1em;
  margin: 0px;
  background-color: white;
  border-top-right-radius: 0.25em;
}

@media (max-width: 700px) {
  #navbar {
    flex-direction: column;
  }

  .nav-link {
    margin: 0.25em;
    background-color: #eee;
  }

  #button {
    display: block;
    font-size: 15px;
    padding: 15px;
  }

  .project-tile {
    width: 90vw;
    max-height: 200px;
    max-width: 100%;
    margin: 30px;
    opacity: 1;
  }

  .project-title, .project-tools {
    width: 50%;
    border-radius: 0;
  }
}

/*@media (max-width: 800px) {
  #projects {
    grid-template-rows: 45vh 45vh;
    grid-template-columns: 50% 50%;
  }

  img {
    width: 100%;
  }

  #welcome-section {
    background-attachment: fixed;
  }
}*/

h2 {
  font-family: "Manrope", sans serif;
  text-align: center;
  margin-top: 1.5em;
  margin-bottom: 1em;
  font-size: 25px;
}

.logo {
  width: 35px;
  height: 35px;
}

#logo {
  width: 40px;
  height: 40px;
}

#logo-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  position: fixed;
  top: 4em;
  right: 0px;
  z-index: 1;
  width: 44px;
  height: 88px;
  background-color: white;
  border-radius: 22px;
}

.pusual {
  font-size: 16px;
  font-family: "Manrope", sans serif;
  margin-bottom: 53px;
  text-align: center;
}

.plink {
  color: #9999bb;
  font-size: 16px;
}

button {
  font-family: "Manrope", sans serif;
  font-size: 14px;
  background-color: #fff;
  border: 5px #fff;
  text-transform: uppercase;
  padding: 0.5em 0px 0.5em 0px;
  display: none;
}

#contact {
  background-image: url("files/night-sky.jpg");
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-attachment: fixed;
}

#white {
  background-color: white;
  height: auto;
  width: 50vw;
  padding: 10%;
}

#angle-down {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 80vh;
  animation: 3s 1s infinite bounce;
  margin-left: auto;
}
