@keyframes inhome {
  from {
    top: -55px;
    opacity: 0;
  }
  to {
    top: 35vh;
    opacity: 1;
  }
}
@keyframes bounce {
  0% {
    margin-top: 0px;
  }
  50% {
    margin-top: 8px;
  }
  100% {
    margin-top: 0px;
  }
}
html {
  scroll-behavior: smooth;
}

body {
  height: 100%;
  width: 100%;
  margin: 0px;
}

#project-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 45px;
  margin-top: -40px;
  scroll-behavior: smooth;
  padding: auto;
  overflow: none;
}

#projects {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  max-width: 550px;
  min-height: 100vh;
}

.project-image {
  width: 39vw;
  height: 22vw;
  border: none;
  margin: 1vw;
  background-size: cover;
  background-position: center;
  background-repeat: no repeat;
  opacity: 0.8;
  padding: 0px;
}

.project-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px;
    width: 40vw;
    height: 23vw;
    background-color: #fff;
    margin: 0px 10px 0px 0px;
    padding: 15px;
    border-radius: 5px;
}

#project1, #project2, #project3 {
    display: flex;
    flex-direction: row;
    width: 75vw;
    margin: 30px;
    justify-content: center;
    align-items: center;
    background-color: #eee;
    box-sizing: border-box;
    padding-top: 10px;
    padding-bottom: 10px;
}

.image-link {
  width: auto;
}

.project-image:hover {
  opacity: 1;
}

#project-tile1 {
  background-image: url("files/focus-timer-png.png");
}

#project-tile2 {
  background-image: url("files/markdown-png.png");
}

#project-tile3 {
  background-image: url("files/smartmockups_kash29zy.png");
}

#welcome-section {
  background-image: url("files/night-sky.jpg");
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-attachment: fixed;
}

.home {
  color: #fff;
  font-family: "Manrope", sans serif;
  display: block;
  text-align: center;
  text-decoration: none;
}

#headlines {
  animation: inhome 3s ease-out;
  position: absolute;
  top: 35vh;
}

h1 {
  font-size: 50px;
  margin: 0px;
}

#navbar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  text-align: center;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-bottom: 1px solid #ddd;
  z-index: 100;
}

.nav-link {
  padding: 1em 1em 1em 1em;
  text-transform: uppercase;
  letter-spacing: 0.07em;
  background-color: #fff;
  display: block;
}

a {
  text-decoration: none;
  color: #000;
  font-family: "Manrope", sans serif;
}

.project-title {
  text-transform: uppercase;
  font-size: 15px;
  padding: .5em;
  margin: 0px;
}

.project-tools {
  text-transform: uppercase;
  font-size: 12px;
  padding: .5em;
  margin: 0px;
}

@media (max-width: 700px) {
  #navbar {
    flex-direction: column;
  }

  .nav-link {
    margin: 0.25em;
    background-color: #eee;
  }

  form {
      width: 100%;
  }

  #button {
    display: block;
    font-size: 15px;
    padding: 15px;
  }

  .project-image {
    width: 60vw;
    height: 35vw;
    margin: 10px;
    opacity: 1;
    
  }
  .project-info {
      width: 60vw;
      margin-right: 0;
      margin-top: 8px;
      margin-bottom: 8px;
      height: auto;
  }

  .project-title, .project-tools {
    border-radius: 0;
  }
    #project1, #project2, #project3 {
    display: flex;
    flex-direction: column;
    width: 75vw;
    margin: 15px;
    justify-content: center;
    align-items: center;
}
}

@media (min-width: 700px) {
    form {
        width: 60%;
    }
    .project-title {
        text-transform: none;
        font-size: 20px;
        font-family: "Manrope";
        padding: 2px;
    }
}

@media (min-width: 1000px) {
    /**Create a better layout for projects on desktop - overlap, maybe? Smaller info box**/
    .project-info {
        height: auto;
        margin-left: 0px;
        width: 20vw;
        margin-right: 2vw;
    }
    .project-image{
        margin-right: -55px;
    }
    
    #project1, #project2, #project3 {
        width: auto;
    }
}

h2 {
  font-family: "Manrope", sans serif;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 25px;
}

.logo {
  width: 35px;
  height: 35px;
}

#logo {
  width: 40px;
  height: 40px;
}

#logo-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  position: fixed;
  top: 4em;
  right: 0px;
  z-index: 1;
  width: 44px;
  height: 88px;
  background-color: #eee;
  border-radius: 22px;
}

.pusual {
  font-size: 16px;
  font-family: "Manrope", sans serif;
  margin-bottom: 25px;
  text-align: center;
}

.plink {
  color: #9999bb;
  font-size: 16px;
}

.project-link {
  font-size: 16px;
  font-family: "Manrope", sans serif;
  color: #9999bb;
  margin-left: 1vw;
  margin-bottom: 5px;
}

button {
  font-family: "Manrope", sans serif;
  font-size: 14px;
  background-color: #fff;
  border: 5px #fff;
  text-transform: uppercase;
  padding: 0.5em 0px 0.5em 0px;
  display: none;
}

#contact {
  background-image: url("files/night-sky.jpg");
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-attachment: fixed;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input:not([type="submit"]) {
    width: 100%;
    border: none;
    background-color: #ddd;
    margin: 4px;
    padding: 10px;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-top: 4px;
    border: none;
    box-sizing: content-box;
    background-color: #ccc;
}

textarea{
    height: 60px;
    width: 100%;
    border: none;
    background-color: #ddd;
    margin: 4px;
    padding: 10px;
}

#white {
  background-color: white;
  min-height: 75vh;
  width: 75vw;
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

#angle-down {
  visibility: hidden;
  position: absolute;
  width: 50px;
  height: 80px;
  top: 80vh;
  animation: 3s 1s infinite bounce;
}
